// Fonts
@import url('https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap');
$font-header: 'Fugaz One', cursive;


// Variables
:root {

    --white:   #eeeeee;
    --light:   #a8a7a7;
    --dark:    #1f1f2c;
    --darker:  #11111a;
    --darkest: #0f0e18;

    --accent-light: #2c6ec4;
    --accent:       #1d418f;

    --red-15:    hsl(0, 100%, 65%);
    --orange-15: hsl(30, 100%, 65%);
    --yellow-15: hsl(50, 100%, 65%);
    --green-15:  hsl(90, 100%, 65%);
    --blue-15:   hsl(220, 100%, 65%);
    --purple-15: hsl(273, 100%, 65%);
    --pink-15:   hsl(310, 100%, 65%);

    --red-100:    hsl(0, 100%, 50%);
    --orange-100: hsl(30, 100%, 50%);
    --yellow-100: hsl(50, 100%, 50%);
    --green-100:  hsl(90, 100%, 50%);
    --blue-100:   hsl(220, 100%, 50%);
    --purple-100: hsl(273, 100%, 50%);
    --pink-100:   hsl(310, 100%, 50%);


}

// All elements
* {
    box-sizing: border-box;
}

// Main page
body {
    
    max-width: 100vw;
    min-height: 100vh;
    padding: 0;
    margin: 0;

    font-family: Arial, Helvetica, sans-serif;

    color: var(--white);
    background: var(--darkest);

}

// Main App
.App {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    // margin: 0 5%;

    &.mobile .content {
        width: 95%;
    }

}

// Panes
.pane {

    width: 20vw;
    min-height: 100vh;
    height: 100%;

    .header {
        position: relative;
        width: 100%;
        height: 100px;
        margin-bottom: 50px;
    }

}

// Sidebar
.sidebar {
 
    // Logo & text
    .header {

        display: flex;
        align-items: center;
        justify-content: flex-start;

        img {
            width: 70px;
            height: 70px;
            margin-right: 30px;
        }

        h2 {
            font-family: $font-header;
            font-weight: lighter;
            font-size: 4ch;
        }

    }

    .following {

        .user {
            position: relative;
            margin-bottom: 2.5%;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            cursor: pointer;
            background: var(--darkest);
            
            transition: 0.15s ease-in-out;
            &:hover {
                background: var(--dark);
            }

            img {
                width: 15%;
                height: 15%;
                border-radius: 100px;
            }

            .text {
                
                height: 20%;
                margin-left: 5%;
                
                display: flex;
                align-items: flex-start;
                justify-content: center;
                flex-direction: column;

                h2 {
                    margin: 0;
                    font-size: 2ch;
                }

                h3 {
                    margin: 0;
                    font-size: 1.5ch;
                    color: #bbb;
                    font-weight: 400;
                }

            }

            .live-indicator {
                width: 1ch;
                height: 1ch;

                position: absolute;
                top: 1ch;
                right: 1ch;

                border-radius: 100px;
                background-color: var(--red-15);
                animation: pulse-opacity 2s ease-in-out infinite;
            }

        }

    }
    
}

// Content
.content {

    width: 45%;
    padding: 0 2.5%;

    .header {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .profile {

        .banner {
            height: 150px;
            background-image: url(https://source.unsplash.com/1920x1080/?aesthetic);
            background-position: center;
            background-size: cover;
            border-top-left-radius: 15px;
            border-top-right-radius: 15px;
        }

        .details {

            display: flex;
            align-items: center;
            flex-direction: row;
            position: relative;

            .avatar {
                width: 100px;
                height: 100px;
                position: absolute;
                top: -25%;
                left: 5%;
                border-radius: 100px;
                border: 5px solid var(--dark);
            }

            .text {
                margin-left: calc(5% + 100px + 2.5%);

                h2 {
                    margin: 1ch 0 0;
                }

                h3 {
                    margin: 0 0 2ch;
                    font-weight: lighter;
                    color: #bbb;
                }

            }

            .follow {
                position: absolute;
                right: 5%;
            }

            background: var(--dark);
            border-bottom-left-radius: 15px;
            border-bottom-right-radius: 15px;

        }

    }

}

// Actions
.actions {

    .header {

        width: 100%;

        display: flex;
        justify-content: flex-end;
        align-items: center;

        img {
            width: 50px;
            height: 50px;
            border-radius: 100px;
        }
        

    }

    .panel {
        margin-bottom: 15%;
    }

}

// Panels
.panel {

    width: 100%;
    background: var(--dark);
    padding: 2.5% 5%;
    border-radius: 10px;

    h1, h2, h3, button {
        margin: 1ch 0;
    }

    &.profile-mini {

        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;

        .name {
            
            display: flex;
            justify-content: flex-start;
            align-items: center;
            flex-direction: row;
            cursor: pointer;
            margin-left: 1ch;

            img {
                width: 20%;
                height: 20%;
                border-radius: 100px;
            }

            .text {
                
                height: 20%;
                margin-left: 5%;
                
                display: flex;
                align-items: flex-start;
                justify-content: center;
                flex-direction: column;

                h2 {
                    margin: 0;
                }

                h3 {
                    margin: 0;
                    font-size: 2ch;
                    color: #bbb;
                    font-weight: 400;
                }

            }

        }

        .stats {

            width: 100%;
            height: 5ch;

            display: flex;
            justify-content: flex-start;
            align-items: center;

            span {

                margin: 0.25ch 1ch 0;
                padding: 0.5ch 1ch;
                border-radius: 7.5px;
                color: #bbb;

                b {
                    color: var(--white);
                }

                cursor: pointer;

                transition: background 0.15s ease-in-out;
                &:hover {
                    background: var(--darker);
                }

            }

        }

    }

    &.heya {

        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;

        .buttons {
            width: 100%;
            display: flex;
            justify-content: space-around;
            align-items: center;
            flex-wrap: wrap;
        }

    }

}

// Anchor links
a {
    text-decoration: none;
    color: var(--accent-light);
}

// Buttons
button, .button {

    padding: 0.75ch 2ch;
    background-color: var(--darker);
    color: var(--white);
    font-family: Arial, Helvetica, sans-serif;
    border: 1px var(--white) solid;
    outline: none;
    font-weight: 500;
    font-size: 100%;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;

    &.red:hover {
        color: var(--red-15);
        border-color: var(--red-15);
    }

    transition: color 0.15s ease-in-out, border 0.15s ease-in-out;
    &:hover {
        color: var(--accent-light);
        border-color: var(--accent-light);
    }
    

}

// Search box
.search-box {

    z-index: 1;
    width: 95%;
    height: 50px;
    padding: 2.5% 2.5%;
    background: var(--dark);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 15px;

    i {
        font-size: 125%;
        margin: 0 3.3% 0 2.5%;
    }

    input {
        width: 95%;
        height: 50px;
        background: none;
        outline: none;
        border: none;
        color: var(--white);
        font-size: 100%;
    }

}

.search-window {

    &:not(.searching) {
        display: none;
    }

    position: absolute;
    min-height: 80px;
    width: 100%;
    background: var(--darker);
    top: 10%;
    border-radius: 15px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 75px;

    .user {

        padding: 1% 2%;
        width: 95%;
        position: relative;
        margin-bottom: 2.5%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        cursor: pointer;
        background: var(--darkest);
        border-radius: 15px;
        
        transition: 0.15s ease-in-out;
        &:hover {
            background: var(--dark);
        }

        img {
            width: 10%;
            height: 10%;
            border-radius: 100px;
        }

        .text {
            
            height: 20%;
            margin-left: 5%;
            
            display: flex;
            align-items: flex-start;
            justify-content: center;
            flex-direction: column;

            h2 {
                margin: 0;
                font-size: 2ch;
            }

            h3 {
                margin: 0;
                font-size: 1.5ch;
                color: #bbb;
                font-weight: 400;
            }

        }

    }

}

// Profile editor
.edit {

    z-index: 10;

    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2); 
    background-color: rgba(36, 29, 54, 0.15);
    place-items: center;
    display: none;
    cursor: pointer;

    &.open {
        display: grid;
        animation: blur 0.15s ease-in-out forwards;

        form {
            display: flex;
        }

    }

    form {

        display: none;
        justify-content: space-evenly;
        align-content: flex-start;
        flex-direction: column;
        border-radius: 15px;
        padding: 2%;

        h3 {
            color: var(--accent-light);
            margin: 0;
        }

        label {

            width: 100%;

            input[type="text"] {
                width: 100%;
                min-height: 50px;
                font-size: 100%;
                outline: none;
                border: none;
                background: none;
                color: var(--white);

                transition: color 0.15s ease-in-out;
                &.invalid {
                    color: var(--red-15);
                }

            }

            .error {
                margin-bottom: 1ch;
                font-size: 100%;
                color: var(--red-15);
            }

        }

        min-width: 30%;
        min-height: 20%;

        background: var(--darker);
        border: 2px solid var(--white);

    }

}

// Animations
@keyframes pulse-opacity {
    0%    { opacity: 1; }
    50%   { opacity: 0; }
    100%  { opacity: 1; }
}

@keyframes blur {
    0%   { backdrop-filter: blur(0px); }
    100% { backdrop-filter: blur(5px); }
} 

@keyframes scale-in {
    0%   { transform: scale(0); }
    100% { transform: scale(1); }
}