@import url("https://fonts.googleapis.com/css2?family=Encode+Sans+SC:wght@100;300;400;600;700;800;900&display=swap");
$header: "Encode Sans SC", sans-serif;

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");
$default: "Open Sans", sans-serif;

$trans-quick: 0.2s ease-in-out;

:root {
    --green: #8ee35c;
    --yellow: #f3ec44;
    --red: #e03636;
    --blue: #5ab4d8;

    --primary: #060c11;
    --secondary: #f5ebdc;
    --tertiary: #ff7f50;

    --black: #111111;
    --white: #eeeeee;
    --gray: #777777;
}

body,
root {
    max-width: 100vw;
    min-height: 100vh;

    margin: 0;
    padding: 0;

    display: flex;
    justify-content: center;
    position: relative;

    background-color: var(--primary);
    color: var(--white);
}

// Layout grid 3
.ly3 {
    width: 90vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

    &.header > .panel {
        height: 5rem;
    }

    .panel {
        flex: 0.2;
        &.main {
            flex: 0.5;
        }
    }
}

.panel {
    display: flex;
    justify-content: center;
    align-items: center;

    * {
        margin: 0;
    }
}

h1.logo {
    font-family: $header;
    text-transform: uppercase;
    font-weight: 800;
    color: var(--white);
}

.search {

    width: 100%;
    height: 2rem;

    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;


    &:not(.open) {
        .results {
            display: none;
        }
    }

    input {
        width: 100%;
        height: 2rem;

        padding: 0 0.5rem;
        z-index: 10;

        appearance: none;
        outline: none;

        border: 3px solid var(--secondary);
        border-radius: 15px;

        background-color: var(--white);
        color: var(--black);

        font-size: 1rem;
        font-family: $default;

        &::placeholder {
            color: var(--black);
            opacity: 0.85;
        }

        transition: border-color $trans-quick;
        &:focus {
            border-color: var(--tertiary);
        }
    }

    .results {
        
        width: 100%;

        position: absolute;
        top: -1rem;

        padding: 3.5rem 0.5rem 1rem;

        z-index: 1;

        background: var(--black);
        border: 3px solid var(--white);
        border-radius: 1rem;
        .result {
            height: 2.5rem;
            padding: 0.5rem 0.5rem;

            background: var(--black);
            border-radius: 1rem;

            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;

            cursor: pointer;

            transition: background-color $trans-quick;
            &:hover {
                background-color: #ffffff2f;
            }

            img {
                height: 2.5rem;
                width: 2.5rem;
                border-radius: 1rem;
                margin-right: 1.5rem;
            }

            .content {
                h2 {
                    margin: 0;

                    font-family: $header;
                    font-size: 1.25rem;
                    color: var(--tertiary);
                }

                h3 {
                    margin: 0;

                    font-family: $default;
                    font-size: 0.85rem;
                    opacity: 0.75;

                    &:before {
                        content: "@";
                    }
                }
            }

            &.none {

                &:hover {
                    background-color: inherit;
                    cursor: default;
                }

            }
        }
    }
}

.user-menu {
    width: 65%;
    position: relative;

    display: flex;
    justify-content: flex-start;
    align-items: center;

    &:not(.open) > .menu {
        display: none;
    }

    .icon {
        width: 2.5rem;
        height: 2.5rem;

        border-radius: 1rem;
        border: 3px solid var(--secondary);
        transition: border-color $trans-quick;

        cursor: pointer;
        z-index: 100;
    }

    .menu {
        width: 10rem;
        position: absolute;

        padding: 1rem 1rem 1rem 1rem;
        top: 1.75rem;
        // left: 0.5rem;

        background-color: var(--secondary);
        border-radius: 1rem;
        border-top-left-radius: 0;

        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;

        .user {

            margin-left: 0.75rem;

            h2 {
                margin: 0;
                font-family: $header;
                font-size: 1.25rem;
                color: var(--tertiary);
            }

            h3 {
                margin: 0 0 0.5rem 0;

                font-family: $default;
                font-size: 0.85rem;
                font-style: italic;

                color: var(--black);
                opacity: 0.75;

                &:before {
                    content: "@";
                }
            }

        }

        a {
            
            margin-top: 0.25rem;
            margin-left: 0.75rem;
            color: var(--black);
            font-weight: 500;

            transition: color $trans-quick;

            &:hover {
                color: var(--tertiary);
            }
        }
    }
}

.pane {
    padding: 1rem 2rem;
    background-color: var(--secondary);
    border-radius: 1rem;
}

.pane.login {
    width: 20rem;
    margin-top: 15rem;
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    border-top-left-radius: 0;
    position: relative;

    background-color: var(--black);
    border: 3px solid var(--white);

    .tabs {
        position: absolute;

        top: -1.7rem;
        left: -3px;

        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;

        background-color: var(--black);
        border-top: 3px solid var(--white);
        border-left: 3px solid var(--white);
        border-right: 3px solid var(--white);

        width: fit-content;

        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;

        button {
            height: 1.5rem;
            padding: 0.5rem 1rem;

            appearance: none;
            background: none;
            outline: none;
            border: none;

            font-family: $header;
            text-transform: uppercase;
            font-weight: 800;

            opacity: 0.75;
            color: var(--white);

            cursor: pointer;

            transition: color $trans-quick, opacity $trans-quick;
            &:hover,
            &:active {
                color: var(--tertiary);
            }

            &:not(:first-child) {
                margin-left: 0.25rem;
            }

            &.active {
                color: var(--tertiary);
                opacity: 1;
            }
        }
    }

    input {
        width: 100%;
        height: 1.5rem;
        margin: 1rem 0;

        font-family: $default;
        color: var(--white);
        font-size: 1rem;
        text-indent: 0.5rem;

        appearance: none;
        outline: none;

        border: 3px solid var(--primary);
        border-radius: 0.75rem;

        background-color: var(--primary);

        transition: border-color $trans-quick;
        &[type="text"]:focus,
        &[type="password"]:focus,
        &[type="email"]:focus {
            border-color: var(--tertiary);
        }

        &[type="submit"] {
            text-indent: 0;
            height: 2rem;

            background-color: var(--primary);
            cursor: pointer;
            color: var(--white);

            &:hover,
            &:active {
                color: var(--primary);
                background-color: var(--tertiary);
                opacity: 0.75;
            }

            &:focus {
                opacity: 1;
            }

            transition: background-color $trans-quick, opacity $trans-quick, color $trans-quick;
        }

        &.invalid {
            border-color: var(--red);
        }
    }

    .message {
        color: var(--red);
        width: 100%;
        text-align: center;
        font-size: 1rem;
    }
}

.pane.profile {
    width: 100%;
    background: none;

    .banner {
        height: 5.5rem;

        background: var(--tertiary);
        background-image: url("https://images.unsplash.com/photo-1457369804613-52c61a468e7d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1050&q=80");

        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;

        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;
    }

    .content {
        padding: 0.5rem 1rem 1rem 1rem;

        display: flex;
        flex-direction: row;
        justify-content: space-between;

        background-color: var(--secondary);
        border-bottom-left-radius: 1rem;
        border-bottom-right-radius: 1rem;

        transition: background-color $trans-quick;

        .user {
            margin-left: 6rem;
            position: relative;

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;

            h2 {
                font-family: $header;
                color: var(--black);
            }

            sub {
                font-family: $default;
                font-weight: 600;
                font-style: italic;
                color: var(--black);

                &:before {
                    content: "@";
                }
            }

            img {

                position: absolute;
                left: -6rem;
                top: -1.5rem;

                width: 5rem;
                height: 5rem;

                border: 3px solid var(--secondary);
                border-radius: 1rem;

                transition: border-color $trans-quick;
            }
        }

        .data {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            font-size: 1rem;

            h3 {
                font-weight: 400;
                color: var(--black);
                span {
                    color: var(--tertiary);
                }
            }
        }
    }
}

a {
    text-decoration: none;
    color: --red;
}
